{%  extends 'frontend/base.html' %}
{%  load static  %}

{%  block content %}
    <div class="container-fluid">
        <h1 class="mt-4 font-weight-bold">Updates</h1>

        <div class="jumbotron jumbotron-fluid">
             <div class="container d-flex flex-column align-self-center">
                <i class="fas fa-arrow-circle-up fa-4x mb-4 align-self-center"></i>
                    <h1 class="display-6 align-self-center">&#9989; Your operating system is up-to-date!</h1>
             </div>
        </div>

{% endblock content %}