{%  extends 'base.html' %}

{%  block content %}
    <div class="container-fluid">
        <h1 class="mt-4 font-weight-bold">Network connections</h1>
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-justify">
                <i class="fas fa-wifi fa-4x mb-4 text-center"></i>

                <h3 class="display-6">W tym semestrze zadania będą realizowane za pomocą <a href="https://zacniewski.github.io/tasks-mobile-apps-react-native/">innych</a> technologii &hearts;</h3>
                <p class="lead">Pod <a href="https://zacniewski.gitlab.io/teaching/2019-android/" target="_blank">linkiem</a> znajduje się wersja dotychczas obowiązująca dla osób, które chcą zadania realizować w języku Java &#127773;</p>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <i class="fas fa-network-wired fa-4x mb-4 text-center"></i>

                <h1 class="display-4">W tym semestrze zadania będą realizowane za pomocą <a href="https://zacniewski.github.io/tasks-mobile-apps-react-native/">innych</a> technologii &hearts;</h1>
                <p class="lead">Pod <a href="https://zacniewski.gitlab.io/teaching/2019-android/" target="_blank">linkiem</a> znajduje się wersja dotychczas obowiązująca dla osób, które chcą zadania realizować w języku Java &#127773;</p>
            </div>
        </div>
    </div>
{% endblock content %}