{%  extends 'base.html' %}

{%  block content %}
    <div class="container-fluid">
        <h1 class="mt-4 font-weight-bold">Network connections</h1>
        <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-column align-self-center">
                <i class="fas fa-wifi fa-4x mb-4 align-self-center"></i>
                {%  if network_dict.Frequency %}
                    <h2 class="display-6 align-self-center">&#127796; Name of the network: <b>{{ network_dict.name }}</b></h2>
                    <h2 class="display-6 align-self-center">&#127796; Frequency: <b>{{ network_dict.Frequency }}</b></h2>
                    <h2 class="display-6 align-self-center">&#127796; Bit rate: <b>{{ network_dict.BitRate }}</b></h2>
                    <h2 class="display-6 align-self-center">&#127796; Link quality: <b>{{ network_dict.LinkQuality }}</b></h2>
                {%  else %}
                    <h2 class="display-6 align-self-center">&#10060;  Your device is <b>not connected</b> to wireless network!</h2>
                {%  endif %}

            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-column align-self-center">
                <i class="fas fa-network-wired fa-4x mb-4 align-self-center"></i>
            {{  network_dict }}
                {%  if network_dict.ip %}
                    <h2 class="display-6 align-self-center">&#127796; IP of your device: <b>{{ network_dict.ip }}</b></h2>
                {%  else %}
                    <h2 class="display-6 align-self-center">&#10060;  Your device is <b>not connected</b> to wired network!</h2>
                {%  endif %}
            </div>
        </div>
    </div>
{% endblock content %}