{%  extends 'base.html' %}
{%  load static  %}

{%  block content %}
    <div class="container-fluid">
        <h1 class="mt-4 font-weight-bold">Updates</h1>

        <div class="jumbotron jumbotron-fluid">
             <div class="container d-flex flex-column align-self-center">
                <i class="fas fa-arrow-circle-up fa-4x mb-4 align-self-center"></i>
                <h2 class="display-6 align-self-center mb-5">&#127796; Update Home Guard application</h2>
                <h2 class="display-6 align-self-center mb-5">&#9940; Comparing date of current versions with date of Github version</h2>
                <a
                     href="{% url 'frontend:update_system' %}"
                     id="update_home_guard_button"
                     class="btn btn-primary btn-lg w-25 align-self-center mt-5"
                     role="button"
                     aria-disabled="true"
                >
                     Update Home Guard
                </a>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-column align-content-center">
                <i class="fas fa-arrow-circle-up fa-4x mb-4 align-self-center"></i>
                <h2 class="display-6 align-self-center mb-5">&#127796; Update operating system (OS) of your device</h2>
                <h2 class="display-6 align-self-center mb-5">&#9940; Comparing date of current versions with date of Github version</h2>
                <a
                     href="{% url 'frontend:update_system' %}"
                     id="update_os_button"
                     class="btn btn-primary btn-lg w-25 align-self-center mt-5"
                     role="button"
                     aria-disabled="true"
                >
                     Update OS
                </a>
            </div>
        </div>
    </div>

{% endblock content %}