{%  extends 'base.html' %}
{%  load static  %}

{%  block content %}
    <div class="container-fluid">
        <h1 class="mt-4 font-weight-bold">Updates</h1>

        <div class="jumbotron jumbotron-fluid">
             <div class="container d-flex flex-column align-self-center">
                <i class="fas fa-arrow-circle-up fa-4x mb-4 align-self-center"></i>
                    <h2 class="display-6 align-self-center">&#127796; Update Home Guard application</h2>
                    <button type="button" class="btn btn-primary btn-lg">Update Home Guard</button>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-column align-self-center">
                <i class="fas fa-arrow-circle-up fa-4x mb-4 align-self-center"></i>
                <h2 class="display-6 align-self-center">&#127796; Update operating system (OS) of your device</h2>
                <a href="{% url 'frontend:update_system' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update my OS</a>
            </div>
        </div>
    </div>
{% endblock content %}