{%  extends 'frontend/base.html' %}
{%  load static  %}

{%  block content %}
    <div class="container-fluid">
        <h1 class="mt-4 font-weight-bold">Web Camera (USB)</h1>

        <div class="jumbotron jumbotron-fluid">
            <div class="d-block mx-auto">
                <iframe
                        class="text-center mx-auto d-block"
                        src="{% url 'vision:camera_usb_streaming' %}"
                        frameborder="0"
                        width="640"
                        height="480"
                        scrolling="no"

                >
                </iframe>
            </div>

        </div>
    </div>

{% endblock content %}


